<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>923075399299-7fr3286a0j4op63rqdtm0l8k5ofhtnb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_VvMMvYScHrCB_eYVlFXa0NZaglLxsk</string>
	<key>GCM_SENDER_ID</key>
	<string>923075399299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.system.DemoCICD</string>
	<key>PROJECT_ID</key>
	<string>aimproject-ac2e6</string>
	<key>STORAGE_BUCKET</key>
	<string>aimproject-ac2e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923075399299:ios:a595237296432226a095b6</string>
	<key>DATABASE_URL</key>
	<string>https://aimproject-ac2e6.firebaseio.com</string>
</dict>
</plist>